<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Stat_us.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Stat_us.Properties.Settings.statsConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\stats.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
<userSettings>
        <Stat_us.Properties.Settings>
                <setting name="notificationShowed" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="loopTime" serializeAs="String">
                        <value>10000</value>
                </setting>
        </Stat_us.Properties.Settings>
    </userSettings>
</configuration>